{{ @includeCSS(auth) }}

<!DOCTYPE html>
<html lang="en">

    <head>

        <title>Login</title>
        <meta charset="UTF-8">

        {{ @CSS }}

    </head>

    <body>

        {{ @flash(success) }}

        <div id="authFormOuterContainer">

            <p id="authTitle">Login</p>

            {{ @errors(list) }}

            <div id="authFormInnerContainer">

                <form action="/login" method="post">

                    <input type="email" class="{{ @error(email, invalid) }}" placeholder="Email" name="email" value="{{ @old(email) }}" required autofocus onfocus="this.setSelectionRange(this.value.length, this.value.length);">

                    <input type="password" class="{{ @error(password, invalid) }}" placeholder="Password" name="password" required>

                    <div id="authFormButtonContainer">

                        <button id="registerButton" type="button" onclick="window.location.href='/register';">Register</button>
                        <button type="submit">Login</button>

                    </div>

                    <div id="forgotPasswordLink"><a href="/password/reset">Forgot password?</a></div>

                    {{ @csrfToken }}

                </form>

            </div>

        </div>

    </body>

</html>