{{ @includeCSS(auth) }}

<!DOCTYPE html>
<html lang="en">

    <head>

        <title>Reset Your Password</title>
        <meta charset="UTF-8">

        {{ @CSS }}

    </head>

    <body>

        <div id="authFormOuterContainer">

            <p id="authTitle">Reset Your Password</p>

            {{ @errors(list) }}

            <div id="authFormInnerContainer">

                <form action="/password/email/reset" method="post">

                    <input type="email" placeholder="Registered Email" name="email" required autocomplete="email" autofocus onfocus="this.setSelectionRange(this.value.length, this.value.length);">

                    <div id="authFormButtonContainer">

                        <a id="backToLoginLink" href="/login">Back to Login</a>
                        <button type="submit">Request Email Reset</button>

                    </div>

                    {{ @csrfToken }}

                </form>

            </div>

        </div>

    </body>

</html>