{{ @includeCSS(auth) }}

<!DOCTYPE html>
<html lang="en">

    <head>

        <title>Register</title>
        <meta charset="UTF-8">

        {{ @CSS }}

    </head>

    <body>

        <div id="authFormOuterContainer">

            <p id="authTitle">Register</p>

            {{ @errors(list) }}

            <div id="authFormInnerContainer">

                <form action="/register" method="post">

                    <input type="text" class="{{ @error(Username, invalid) }}" placeholder="Username" name="Username" value="{{ @old(Username) }}" required autofocus onfocus="this.setSelectionRange(this.value.length, this.value.length);">

                    <input type="email" class="{{ @error(Email, invalid) }}" placeholder="Email" name="Email" value="{{ @old(Email) }}" required>

                    <input type="password" class="{{ @error(Password, invalid) }}" placeholder="Password" name="Password" required>

                    <input type="password" class="{{ @error(Password, invalid) }}" placeholder="Confirm Password" name="Password_confirmed" required>

                    <div id="authFormButtonContainer">

                        <button id="loginButton" type="button" onclick="window.location.href='/login';">Login</button>
                        <button type="submit">Register</button>

                    </div>

                    {{ @csrfToken }}

                </form>

            </div>

        </div>

    </body>

</html>