{{ @includeCSS(auth) }}

<!DOCTYPE html>
<html lang="en">

    <head>

        <title>Create a New Password</title>
        <meta charset="UTF-8">

        {{ @CSS }}

    </head>

    <body>

        <div id="authFormOuterContainer">

            <p id="authTitle">Create a New Password</p>

            {{ @errors(list) }}

            <div id="authFormInnerContainer">

                <form action="/password/reset" method="post">

                    <input type="hidden" name="token" value="{{ token }}">

                    <input type="email" placeholder="Your Email" name="Email" required autofocus onfocus="this.setSelectionRange(this.value.length, this.value.length);">

                    <input type="password" placeholder="New Password" name="Password" required>

                    <input type="password" placeholder="Confirm New Password" name="Password_confirmed" required>

                    <div id="authFormButtonContainer">

                        <button type="submit">Reset Password</button>

                    </div>

                    {{ @csrfToken }}

                </form>

            </div>

        </div>

    </body>

</html>