{{ @includeCSS(auth) }}

<!DOCTYPE html>
<html lang="en">

    <head>

        <title>User Verification</title>
        <meta charset="UTF-8">

        {{ @CSS }}

    </head>

    <body>

        {{ @flash(success) }}

        <div id="authFormOuterContainer">

            <p id="authTitle">Email Verification</p>

            <div id="authFormInnerContainer">

                <p id="verifyFormMessage">{{ message }}</p>

                <form action="/email/verify/resend" method="post">

                    <div id="authFormButtonContainer">

                        <button type="submit">Resend Verification Email</button>

                    </div>

                    {{ @csrfToken }}

                </form>

            </div>

        </div>

    </body>

</html>